<nav class="bg-white shadow hidden sm:block">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16">
            <div class="flex justify-between w-full">
                <div class="flex flex-shrink-0 items-center">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                         alt="Your Company">
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                    <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                    <a href="{{ path('app_homepage') }}"
                       class="inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900">Home</a>
                    <a href="{{ path('app_homepage') }}#tricks"
                       class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Tricks</a>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}"
                           class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            {{ 'snowtricks.ui.logout'|trans }}
                        </a>
                        <a href="{{ path('app_profile') }}"
                           class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            {{ 'snowtricks.ui.profile'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}"
                           class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            {{ 'snowtricks.ui.login'|trans }}
                        </a>
                        <a href="{{ path('app_register') }}"
                           class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            {{ 'snowtricks.ui.register'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="fixed bottom-0 w-full border-t-2 sm:hidden bg-white z-50">
    <div class="flex flex-row w-full justify-center items-center">
        <a href="#"
           class="flex-grow py-3 hover:bg-indigo-50/20 transition-all border-t-4 border-indigo-400 bg-indigo-50">
            {{ heroicon('home', 'h-6 w-6 text-indigo-400 m-auto') }}
        </a>
        <a href="#"
           class="flex-grow py-3 hover:bg-indigo-50/50 border-t-4 border-transparent hover:border-indigo-200 transition-all">
            {{ heroicon('bookmark', 'h-6 w-6 text-gray-400 m-auto') }}
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" aria-label="{{ 'snowtricks.ui.logout'|trans }}"
               class="flex-grow py-3 hover:bg-indigo-50/50 border-t-4 border-transparent hover:border-indigo-200 transition-all">
                {{ heroicon('logout', 'h-6 w-6 text-gray-400 m-auto', 'outline') }}
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" aria-label="{{ 'snowtricks.ui.login'|trans }}"
               class="flex-grow py-3 hover:bg-indigo-50/50 border-t-4 border-transparent hover:border-indigo-200 transition-all">
                {{ heroicon('login', 'h-6 w-6 text-gray-400 m-auto', 'outline') }}
            </a>
        {% endif %}
    </div>
</nav>
