<article
        class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
    <img src="{{ trick_banner_picture(trick) }}"
         alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" loading="lazy">
    <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
    <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

    <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
        <time datetime="2020-03-16" class="mr-8">
            {{ trick.createdAt|format_datetime('medium', 'none', locale='fr') }}
        </time>
        <div class="-ml-4 flex items-center gap-x-4">
            <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                <circle cx="1" cy="1" r="1"/>
            </svg>
        </div>
        <div class="ml-4">
            <a href="#">12 comments</a>
        </div>
    </div>
    <div class="flex gap-4 justify-between">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="{{ path('app_trick_show', { 'slug': trick.slug}) }}">
                <span class="z-0 absolute inset-0"></span>
                {{ trick.name }}
            </a>
        </h3>
        {# TODO: Only when logged in #}
        <div class="z-10 flex text-white gap-3 items-center">
            {% if is_granted('delete', trick) %}
                <a href="#" class="js-remove-trick"
                   data-trick-id="{{ trick.id }}">{{ heroicon('trash', 'w-5 h-6') }}</a>
            {% endif %}
            {% if is_granted('edit', trick) %}
                <a href="{{ path('app_trick_edit', { slug: trick.slug }) }}">{{ heroicon('pencil', 'w-5 h-6') }}</a>
            {% endif %}
        </div>
    </div>
</article>
