{% extends 'base.html.twig' %}

{% form_theme profileForm '_form-template/snowtricks_tailwind2_security.html.twig' %}
{% form_theme passwordForm '_form-template/snowtricks_tailwind2_security.html.twig' %}

{% block body %}
    <main class="px-4 py-8 sm:py-14 min-h-dvh sm:min-h-0 flex justify-center items-center">
        <div class="flex flex-col justify-center items-center w-full max-w-2xl m-auto rounded-2xl shadow-xl border py-10 sm:py-14 px-8 ">
            <h2 class="text-3xl text-bold mb-8 bebas-neue-regular">Mes informations</h2>
            {{ form_start(profileForm, { attr: {class: "flex flex-col gap-6 w-full m-auto max-w-96", novalidate: 'novalidate'} }) }}

            {{ form_row(profileForm.name) }}
            {{ form_row(profileForm.profilePicture) }}

            {{ form_end(profileForm) }}

            <h2 class="text-3xl text-bold mb-8 bebas-neue-regular mt-12">Mot de passe</h2>
            {{ form_start(passwordForm, { attr: {class: "flex flex-col gap-6 w-full m-auto max-w-96", novalidate: 'novalidate'} }) }}
            {{ form_row(passwordForm.currentPassword) }}
            {{ form_row(passwordForm.plainPassword) }}
            {{ form_end(passwordForm) }}
        </div>
    </main>
{% endblock %}
