{% extends 'base.html.twig' %}

{% block title %}{{ 'snowtricks.ui.login'|trans }}{% endblock %}

{% block body %}
    <main class="px-4 py-8 sm:py-14 min-h-dvh sm:min-h-0 flex justify-center items-center">
        <div class="flex flex-col justify-center items-center w-full max-w-2xl m-auto rounded-2xl shadow-xl border py-10 sm:py-14 px-8 ">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="text-4xl text-bold mb-8 bebas-neue-regular">{{ 'snowtricks.ui.login'|trans }}</h1>


            <form method="post" class="flex flex-col gap-6 w-full m-auto max-w-96">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="flex flex-col w-full mb-6 gap-2">
                    <label for="username" class="text-center">{{ 'snowtricks.ui.email'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control"
                           autocomplete="email" required autofocus>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="password" class="text-center">{{ 'snowtricks.ui.password'|trans }}</label>
                    <input type="password" name="_password" id="password" class="form-control"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>

                <div class="inline-flex items-center gap-2">
                    <input type="checkbox" name="_remember_me" id="remember_me">
                    <label for="remember_me">
                        {{ 'snowtricks.ui.remember_me'|trans }}
                    </label>
                </div>

                <button type="submit"
                        class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    {{ 'snowtricks.ui.login'|trans }}
                </button>
                <p class="text-center">
                    {{ 'snowtricks.ui.not_subscribed_yet'|trans }} <a
                            href="{{ path('app_register') }}"
                            class="text-indigo-500 underline hover:no-underline">{{ 'snowtricks.ui.create_account'|trans }}</a>
                </p>
                <p class="text-center">
                    <a href="{{ path('app_forgot_password_request') }}"
                       class="text-indigo-500 underline hover:no-underline">{{ 'snowtricks.ui.forgot_password'|trans }}
                        ?</a>
                </p>
            </form>
        </div>
    </main>
{% endblock %}
