{% set image_url = get_file_path(media, 'trick_media_image') %}

<div class="aspect-video w-40 h-auto rounded-2xl shadow-xl overflow-hidden cursor-pointer"
     data-modal="#trick-media-modal-{{ media.id }}">
    <img src="{{ image_url }}"
         class="w-full h-full object-cover"
            {% if media.alt is not empty %}
                alt="{{ media.alt }}"
            {% endif %}
    >
</div>

<div class="modal media-modal" id="trick-media-modal-{{ media.id }}">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <img src="{{ image_url }}"
                {% if media.alt is not empty %}
                    alt="{{ media.alt }}"
                {% endif %}
        />
    </div>
</div>
